.square{
    height: 40px;
    width: 40px;
    background-color: black;
    border-color:black;
    border-style:solid;
    display: inline-block;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}