.square{
    height: 40px;
    width: 40px;
    background-color: white;
    border-color:white;
    border-style:solid;
    display: inline-block;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
#coloringboard{
    border-color: black;
    border-style: solid;
    flex-direction: column;
    gap:0px;
}
.gridrow{
    height:40px;
    box-sizing: border-box;
}